# 경로별 코드 관리자를 설정합니다.

# 관리자 사이트
/apps/torder-admin @orderplatform-soojin @orderplatform-jaegeun @orderplatform-kangil @orderplatform-maeve @orderplatform-kyungjune @orderplatform-roy

# 사이트별
# /apps


# 라이브러리
# /packages
/packages/admin-apps/ @orderplatform-soojin @orderplatform-jaegeun @orderplatform-kangil @orderplatform-maeve @orderplatform-kyungjune @orderplatform-roy
/packages/ui/ @orderplatform-soojin @orderplatform-daisy @orderplatform-jaegeun
/packages/utils/ @orderplatform-soojin @orderplatform-kangil @orderplatform-jaegeun
/packages/client-fetcher/ @orderplatform-soojin @orderplatform-daisy @orderplatform-jaegeun @orderplatform-kangil

# 그외 나머지
# /
