.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 3.7rem 1.5rem;
  border-top: #000 solid 1px;
}

.switch-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.4rem;
}

.switch-buttons {
  display: flex;
  gap: 0.8rem;
}