.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tabs-container {
  flex: 0 1 6rem;
  padding-right: 1.2rem;
}

.tab-window-container {
  flex: 1 1 auto;
  background-color: #fff;
  color: #000;
}

.version {
  flex: 0 1 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.2rem;
  height: 4rem;
  color: white;
  padding-right: 1.2rem;
}

.tab-text {
  font-size: 2rem;
}

.current-tab {
  background-color: #fff;
  height: 100%;
}
