@import '../../tailwind.css';

.container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    justify-content: center;
    height: 4rem;
    background-color: #12151d;
    color: white;
    width: 16.8rem;
    font-size: 1.8rem;
}

.touch {}

.rounded {
    border-radius: 1.3rem;
}
/**
 * TODO: custom style 지원여부
 */
.ignore-bottom-rounded {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/**
 * size
 */
.small {
    width: 8rem;
    height: 4rem;
}
.medium {
    width: 16rem;
    height: 5rem;
}
.large {
    width: 32rem;
    height: 6rem;
}

/**
 * block: 최대 넓이 사용 여부
 */
.block {
    width: 100%;
}

/**
 * default color
 */
.primary {
    background-color: #fc0000;
    font-weight: 700;
}
.secondary {}
.basic {}

/**
 * variant
 */
.filled {}
.tonal {
    background-color: #404144;
    &.primary {
        background-color: #fff;
        color: #000;
        font-weight: 700;
    }
}
.outline {}
.text {
    border: none;
    background-color: transparent;
    color: #12151d;
    border-radius: 0.4rem;
    &.primary {
        background-color:  #fc0000;
        color: #fff;
        &:not(.touch) {
            &:hover {
                background-color: #D54646FF;
            }
        }
    }
    &:not(.touch) {
        &:hover {
            background-color: #f8f8f8;
        }
    }
}
