@mixin modal {
  position:fixed;
  top:0;
  left:0;
  display:flex;
  align-items: center;
  justify-content: center;
  
  width:100%;
  height:100%;
  z-index:201;

  > .background {
    position:absolute;
    top:0;
    left:0;
    display:flex;
    width:100%;
    height:100%;
    z-index:102;
    background-color:rgba(0,0,0,0.8);
  }
  > .container {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width:90%;
    height:90%;
    z-index:103;
    flex-grow:0 !important;

    > .top {
      display:flex;
      flex-shrink:0;
      flex-grow:0 !important;
      border-top-left-radius:24px;
      border-top-right-radius:24px;
      background-color:rgba(255,255,255,0.8);
      width:100%;
      color:#202020;
      justify-content: space-between;

      > * {
        padding:12px 24px 12px 0;
        display:flex;
        align-items: center;
        justify-content: center;
      }
      > *:first-child {
        padding-left:24px;
      }

      .table-number {
        @include table-number;
      }

      .title {
        display:flex;
        font-size:32px;
        font-weight:900;
        color:#202020;
      }
      .buttons {
        display:flex;
        .button {
          display:flex;
        }
        .button {
          display:flex;
          height:60px;
          align-items: center;
          justify-content: center;
          border-radius:100px;
          background-color:#202020;
          color:#ffffff;
          padding:0 24px;
          font-size:24px;
          font-weight:900;
        }
        .button.button-red {
          background-color:#ff0000;
        }
      }
    }
    > .body {
      display:flex;
      flex-shrink:1;
      flex-grow:1;
      width:100%;
      background-color:rgba(255,255,255,0.9);
      overflow:scroll;
      border-top: solid 1px #eaeaea;
      border-bottom: solid 1px #eaeaea;
      color:#202020;
  
      > * {
        display:flex;
        flex-grow:1;
        padding:12px 24px 12px 0px;
      }  
      > *:first-child {
        padding-left:24px !important;
      }  
    }
    > .foot {
      display:flex;
      width:100%;
      flex-shrink:0;
      flex-grow:0 !important;
      border-bottom-left-radius:24px;
      border-bottom-right-radius:24px;
      background-color:rgba(255,255,255,0.8);

      .buttons {
        display:flex;
        align-items: center;
        justify-content: center;
        width:100%;
        padding:12px 24px;

        .button {
          width:50%;
          margin:0;
          display:flex;
          flex-grow:1;
          align-items: center;
          justify-content: center;
          height:60px;
          border-radius:100px;
          font-size:24px;
          font-weight:900;
          background-color:#202020;
          color:#ffffff;
          margin-left:24px;
        }
        .button:first-child {
          margin-left:0;
        }
        .button.button-red {
          background-color:#ff0000;
        }
      }
    }
  }
}
@mixin tab-group {
  .tab-group {
    display:flex;
    flex-grow:1;

    .tab-name { 
      display:flex;
      align-items: center;
      justify-content: center;
      font-weight:400;
      font-size:20px;
      height:40px;
    }
    .tab-buttons {
      display:flex;
      margin:0px;
      padding:0;
      height:40px;
      background-color:#484848;
      border-radius:100px;
      flex-grow:1;

      .tab-button {
        display:flex;
        height:100%;
        flex-grow:1;
        align-items: center;
        justify-content: center;
        font-weight:900;
        background-color:#484848;
        color:#ffffff;

        .count {
          margin-left:8px;
          display:flex;
          align-items: center;
          justify-content: center;
          height:28px;
          padding:0 8px;
          background-color:#ffffff;
          color:#000000;
          border-radius:100px;
          font-size:20px;
        }
      }
      .tab-button:first-child {
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
      }
      .tab-button:last-child {
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
      }
      .tab-button.active {
        background-color:#fafafa;
        color:#000000;
        border-radius:100px;

        .count {
        background-color:#000000;
        color:#fafafa;
        }
      }
    }

  }
}
@mixin table-number {
  display:flex;
  align-items: center;
  justify-content: center;
  background-color:#ff0000 !important; 
  border-radius:100px;
  padding:0; 
  height:60px;
  color:#ffffff !important;
  font-size:44px;
  font-weight:700;
  line-height:1em;
  min-width:3em;
}
@mixin order-title {
  display:flex;
  flex-shrink:0;
  color:#ffffff;
  align-items: center;
  font-size:32px;
  font-weight:700;


  .table-number {
    @include table-number;
    margin-right:12px;
  } 
  .msg {
    display:flex;
    align-items: center;

    .title {
    }
    .hof {
      margin-left:8px;
      display:flex;
      height:32px;
      font-size:24px;
      font-weight:900;
      padding:0 8px;
      border-radius: 100px;
      align-items: center;
      background-color:#ffffff;
      color:#000000;
    }
  }
  .first {
    display:flex;
    align-items: center;
    justify-content: center;
    height:40px;
    min-width:4em;
    border-radius:100px;
    background-color:#ffffff;
    color:#000000;
    font-size:24px;
    margin-left:12px; 
  }
  .commit {
    display:flex;
    align-items: center;
    justify-content: center;
    height:40px;
    min-width:4em;
    border-radius:100px;
    background-color:#ffffff;
    color:#000000;
    font-size:24px;
    margin-left:auto; 
    margin-right:12px;
  }
  .commit.commited {
    background-color:#000000;
    color:#ffffff;
    border:solid 2px #ffffff;
  }
  .time {
    text-align:right;
  }
}
