# 경로별 코드 관리자를 설정합니다.

# 사이트별
# /apps
/apps/auth-partners @orderplatform-ronnie @orderplatform-daisy

# 라이브러리
# /packages
/packages/ui/ @orderplatform-soojin @orderplatform-daisy
/packages/utils @orderplatform-soojin @orderplatform-kangil

# 그외 나머지
# /
